[package]
name = "phylum-cli"
version = "3.8.0-rc2"
authors = ["Phylum, Inc. <engineering@phylum.io>"]
edition = "2021"
rust-version = "1.60"
autotests = false

[[test]]
name = "integration"
path = "tests/integration.rs"

[features]
default = ["selfmanage"]
selfmanage = []
end-to-end-tests = []

[dependencies]
ansi_term = "0.12.1"
anyhow = "1.0.44"
atty = "0.2.14"
base64 = "0.13.0"
bytes = "1.1.0"
chrono = { version = "^0.4", default-features = false, features = ["serde", "clock"] }
cidr = "0.2.0"
clap = { version = "3.0.14" }
dialoguer = "0.10.0"
env_logger = "0.9.0"
futures = "^0.3"
git-version = "0.3.5"
home = "0.5.3"
hyper = "0.14.16"
lazy_static = "1.4.0"
log = "^0.4.6"
maplit = "1.0.2"
minisign-verify = "0.2.1"
nom = "7.1.1"
open = "3.0.1"
phylum_types = { git = "https://github.com/phylum-dev/phylum-types", branch = "development" }
prettytable-rs = "0.8.0"
rand = "0.8.4"
reqwest = { version = "0.11.3", features = ["blocking", "json", "rustls-tls"], default-features = false }
routerify = { version = "3.0.0", features =["all"] }
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
serde_yaml = "0.9.2"
serde-xml-rs = "0.5.1"
sha2 = "0.10.2"
shellexpand = "2.0.0"
tempfile = "3.3.0"
textwrap = "0.15.0"
thiserror = "1.0.29"
tokio = { version = "^1.0", features = ["full"] }
toml = "0.5.8"
unicode-width = "0.1.9"
url = { version = "2", features = ["serde"] }
zip = { version = "0.6.2", default-features = false, features = ["bzip2", "deflate", "zstd"] }
walkdir = "2.3.2"
regex = "1.5.5"
once_cell = "1.12.0"
deno_runtime = { version = "0.71.0" }
deno_core = { version = "0.145.0" }
deno_ast = { version = "0.17.0", features = ["transpiling"] }

[dev-dependencies]
assert_cmd = "2.0.4"
predicates = { version = "2.0", default-features = false, features = ["diff"] }
wiremock = "0.5.7"
