[package]
name = "phylum-cli"
version = "3.5.0"
authors = ["Phylum, Inc. <engineering@phylum.io>"]
edition = "2021"
rust-version = "1.60"

[features]
default = ["selfmanage"]
selfmanage = []
extensions = ["dep:deno_ast", "dep:deno_core"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ansi_term = "0.12.1"
anyhow = "1.0.44"
base64 = "0.13.0"
bytes = "1.1.0"
chrono = { version = "^0.4", features = ["serde"] }
cidr = "0.2.0"
clap = { version = "3.0.14" }
dialoguer = "0.10.0"
env_logger = "0.9.0"
futures = "^0.3"
git-version = "0.3.5"
home = "0.5.3"
hyper = "0.14.16"
lazy_static = "1.4.0"
log = "^0.4.6"
maplit = "1.0.2"
minisign-verify = "0.2.1"
nom = "7.1.1"
open = "2.1.2"
phylum_types = { git = "https://github.com/phylum-dev/phylum-types", branch = "development" }
prettytable-rs = "0.8.0"
rand = "0.8.4"
reqwest = { version = "0.11.3", features = ["blocking", "json", "rustls-tls"], default-features = false }
routerify = { version = "3.0.0", features =["all"] }
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
serde_yaml = "0.8.14"
serde-xml-rs = "0.5.1"
sha2 = "0.10.2"
shellexpand = "2.0.0"
spinners = "4.0.0"
tempfile = "3.3.0"
textwrap = "0.15.0"
thiserror = "1.0.29"
tokio = { version = "^1.0", features = ["full"] }
toml = "0.5.8"
unicode-width = "0.1.9"
url = { version = "2", features = ["serde"] }
zip = "0.6.2"
walkdir = "2.3.2"
regex = "1.5.5"
deno_core = { version = "0.135.0", optional = true }
deno_ast = { version = "0.15.0", features = ["transpiling"], optional = true }

[dev-dependencies]
assert_cmd = "2.0.4"
wiremock = "0.5.7"
