name = "pip"
description = "pip package manager hooks"
entry_point = "main.ts"

[permissions]
run = ["./", "/bin", "/usr/bin", "/usr/local/bin", "~/.pyenv"]
write = ["./", "~/Library/Caches", "~/Library/Python", "~/.cache", "~/.local", "~/.pyenv", "/tmp"]
read = ["~/Library/Caches", "~/Library/Python", "~/.cache", "~/.local", "~/.pyenv", "/tmp", "/etc/passwd"]
net = true
unsandboxed_run = ["pip3"]
