name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt update
          sudo apt install -yq build-essential zip
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build
        run: docker build lib/ --file lib/Dockerfile --tag static-build
      - name: Copy
        run: |
          docker run --rm --entrypoint cat static-build target/x86_64-unknown-linux-musl/release/phylum-cli > phylum-cli
          mkdir phylum-cli-release
          cp lib/install.sh phylum-cli-release/
          cp lib/src/bin/settings.yaml phylum-cli-release/
          cp lib/src/bin/phylum-cli.bash phylum-cli-release/
          cp lib/install.sh .
          cp lib/src/bin/settings.yaml .
          cp lib/src/bin/phylum-cli.bash .
      - name: Build zipfile
        run: zip -r phylum-cli-release.zip phylum-cli-release/
      - uses: softprops/action-gh-release@v1
        name: Release
        with:
          files: |
            phylum-cli
            install.sh
            settings.yaml
            phylum-cli.bash
            phylum-cli-release.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
