name: Release

on:
  push:
    tags:
      - '*' 

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt update
          sudo apt install -yq build-essential zip
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
          driver-opts: network=host
      - name: Login to Harbor
        uses: docker/login-action@v1
        with:
          registry: harbor.prod-aws.phylum.dev
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build Linux
        run: docker build lib/ --file lib/Dockerfile.linux --tag static-build
      - name: Build MacOS
        run: docker build lib/ --file lib/Dockerfile.macos --tag macos-build
      - name: Collect files 
        run: |
          docker run --rm --entrypoint cat static-build target/x86_64-unknown-linux-musl/release/phylum > phylum-linux-x86_64
          docker run --rm --entrypoint cat macos-build target/x86_64-apple-darwin/release/phylum > phylum-macos-x86_64

          echo -e $MINISIGN_KEY > minisign.key 
          echo $MINISIGN_PASSWORD | minisign -Sm phylum-macos-x86_64 -s minisign.key -t 'Phylum - Future of software supply chain security'
          echo $MINISIGN_PASSWORD | minisign -Sm phylum-linux-x86_64 -s minisign.key -t 'Phylum - Future of software supply chain security'

          mkdir phylum-cli-release
          cp lib/install.sh phylum-cli-release/
          cp lib/src/bin/settings.yaml phylum-cli-release/
          cp lib/src/bin/phylum.bash phylum-cli-release/
          cp phylum-linux-x86_64 phylum-cli-release/
          cp phylum-linux-x86_64.minisig phylum-cli-release/
          cp phylum-macos-x86_64 phylum-cli-release/
          cp phylum-macos-x86_64.minisig phylum-cli-release/
          cp lib/install.sh .
          cp lib/src/bin/settings.yaml .
          cp lib/src/bin/phylum.bash .
        env:
          MINISIGN_KEY: ${{ secrets.MINISIGN_KEY }}
          MINISIGN_PASSWORD: ${{ secrets.MINISIGN_PASSWORD }}
      - name: Build zipfile
        run: zip -r phylum-cli-release phylum-cli-release
      - name: Determine prerelease status
        uses: haya14busa/action-cond@v1
        id: preRelease
        with:
          cond: ${{ contains(github.event.release.tag_name, 'rc') }}
          if_true: 'true'  # string value
          if_false: 'false' # string value
      - uses: softprops/action-gh-release@v0.1.7
        name: Release
        with:
          prerelease: ${{ steps.preRelease.outputs.value }}
          files: |
            phylum-linux-x86_64
            phylum-macos-x86_64
            install.sh
            settings.yaml
            phylum.bash
            phylum-cli-release.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
