---
name: Test

on:
  # Allow running this workflow manually from the Actions tab
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  # Run weekly on the default branch to make sure it always builds with the latest rust release
  schedule:
    - cron: '30 5 * * 1'

jobs:
  test-matrix:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, [self-hosted, macos, arm64]]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      # Workaround to provide additional free space for testing.
      # Reference: https://github.com/actions/runner-images/issues/2840
      - name: Free disk space
        if: startsWith(runner.name, 'GitHub Actions') && startsWith(matrix.os, 'ubuntu')
        run: sudo rm -rf /usr/share/dotnet

      - name: Install Rust toolchain
        run: |
          rustup toolchain install --no-self-update stable --profile minimal -c clippy
          rustup default stable

      - name: Install Rust nightly toolchain
        if: github.event_name != 'schedule'
        run: rustup toolchain install --no-self-update nightly --profile minimal -c rustfmt

      - name: Format check
        if: github.event_name != 'schedule'
        run: cargo +nightly fmt --all -- --check

      - name: Build
        run: cargo build --locked

      - name: Clippy
        if: github.event_name != 'schedule'
        run: cargo lint

      - name: Test generating shell completion files
        if: startsWith(matrix.os, 'ubuntu')
        run: cargo xtask gencomp

      - name: Test
        run: cargo test --locked

      - name: Oldstable
        run: |
          oldstable=$(cat "./cli/Cargo.toml" | grep "rust-version" | sed 's/.*"\(.*\)".*/\1/')
          rustup toolchain install --profile minimal "$oldstable"
          cargo "+$oldstable" check

      # Skip this step when the secret is unavailable
      - if: github.secret_source == 'Actions'
        name: All Features
        env:
          PHYLUM_API_KEY: ${{ secrets.PHYLUM_TOKEN_STAGING }}
        run: cargo test --all-features

  deno-checks:
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    container: denoland/deno
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: deno fmt
        run: deno fmt --check
      - name: deno lint
        run: deno lint
      - name: deno check
        run: deno check --no-lock extensions/**/*.ts

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Script Style Check
        if: github.event_name != 'schedule'
        run: shellcheck -o all -S style -s sh $(find . -iname "*.sh")

  doc-checks:
    name: Test documentation website
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout the repo
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Set up Node
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: website/package-lock.json
      - name: Install local website package
        working-directory: ./website
        run: npm ci
      - name: Ensure website builds
        working-directory: ./website
        run: npm run build

  # This job reports the results of the test jobs above and is used to enforce status checks in
  # the repo settings without needing to update those settings everytime the test jobs are updated.
  test:
    if: always()
    runs-on: ubuntu-latest
    needs: [test-matrix, deno-checks, shellcheck, doc-checks]
    steps:
      - name: Check for test jobs failure
        if: >
          (needs.test-matrix.result != 'success')
          || (needs.deno-checks.result != 'success')
          || (needs.shellcheck.result != 'success')
          || (needs.doc-checks.result != 'success')
        run: |
          echo "At least one test job was not successful"
          exit 1

      - name: Confirm test jobs success
        if: >
          (needs.test-matrix.result == 'success')
          && (needs.deno-checks.result == 'success')
          && (needs.shellcheck.result == 'success')
          && (needs.doc-checks.result == 'success')
        run: echo "All test jobs were successful"
