---
name: Test

on:
  # Allow running this workflow manually from the Actions tab
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  # Run weekly on the default branch to make sure it always builds with the latest rust release
  schedule:
    - cron: '30 5 * * 1'

jobs:
  test-matrix:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, [self-hosted, macos, arm64]]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: clippy

      - name: Install Rust nightly toolchain
        if: github.event_name != 'schedule'
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt

      - name: Format check
        if: github.event_name != 'schedule'
        run: cargo +nightly fmt --all -- --check

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked

      - name: Clippy
        if: github.event_name != 'schedule'
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --locked -- -D warnings

      - name: Test generating shell completion files
        if: matrix.os == 'ubuntu-latest'
        uses: actions-rs/cargo@v1
        with:
          command: xtask
          args: gencomp

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --locked

      - name: Oldstable
        if: matrix.os != windows-latest
        run: |
          oldstable=$(cat "./cli/Cargo.toml" | grep "rust-version" | sed 's/.*"\(.*\)".*/\1/')
          rustup toolchain install --profile minimal "$oldstable"
          cargo "+$oldstable" check

      # Skip this step for external PRs (because it requires a secret)
      - if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
        name: All Features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
        env:
          PHYLUM_API_KEY: ${{ secrets.PHYLUM_TOKEN_STAGING }}
  shellcheck:
    # TODO: Update to `ubuntu-latest` once `ubuntu-22.04` support is stabilized.
    #       https://github.com/phylum-dev/cli/issues/467
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Script Style Check
        if: github.event_name != 'schedule'
        run: shellcheck -o all -S style -s sh $(find . -iname "*.sh")

  # This job reports the results of the test matrix above
  test:
    if: always()
    needs: test-matrix
    runs-on: ubuntu-latest
    steps:
      - if: needs.test-matrix.result != 'success'
        name: Fail the build
        run: exit 1
